html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, 
.form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, 
.form-floating > .form-control:focus::placeholder {
    text-align: start;
}

#banlist-history table tr[onclick] {
    cursor: pointer;
}

#banlist-history table tr[onclick] a {
    color: inherit;
    text-decoration: none;
}

#chart-container{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.format-row-grid a:hover{
    text-decoration: none;
}

.resources-lang-icon .btn {
    font-size: 10px;
    padding: 3px;
}
.card-ban-box {
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
}
.card-ban-box a {
    color: inherit;
}
#card-ban-box .Limited {
    background-color: #c79c1c;
}
#card-ban-box .Semi-Limited {
    background-color: #8bc34a;
}
#card-ban-box .Banned {
    background-color: #a63e32;
}
#card-ban-box .Forbidden {
    background-color: #a63e32;
}
.boxunlimited{
    background-color: #4caf50;
}
.modal-view-more{
    color: #7d3e12;
    cursor: pointer;
    border-bottom: 1px dotted;
}
.format-row-grid {
    padding-left: 0;
    display: grid;
    max-width: 950px;
    grid-template: repeat(5,1fr)/repeat(6,1fr);
    grid-template-rows: min-content 1fr;
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: repeat(3,1fr);
    margin-top:10px;
    justify-content: center;
}
.format-row {
    padding: 3px;
    background-color: #4caf50;
    border-radius: 5px;
    color: #fff;
    cursor: default;
    text-align: center;
    font-size: 0.7em;
    width: 90px;
}
.semi-limited {
    background-color: #8bc34a;
}
.limited {
    background-color: #c79c1c;
}
.banned, .forbidden {
    background-color: #a63e32;
}
.pointer{
    cursor:pointer;
}
.card-typing-icon {
    height: 20px;
    width: 20px;
    vertical-align: sub;
}
.resources-bar span {
    margin-right: 10px;
}
.resources-bar {
    margin-bottom: 10px;
    font-size: 0.7em;
}
.resources-bar-links {
    color: #7d3e12;
    cursor: pointer;
}
.card-data-subheader a{
    color:unset;
}
.card-data-header{
    font-size:0.8em;
}
.card-data-subheader{
    display:block;
}
ul.card-data-info li {
    list-style: none;
    min-width: 150px;
    text-align: left;
    background: #7d3e12;
    padding: 5px;
    display: block;
    border-radius: 5px;
    color: white;
}
.card-data-info {
    padding-left: 0;
    display: grid;
    max-width: 950px;
    grid-template: repeat(5,1fr)/repeat(6,1fr);
    grid-template-rows: min-content 1fr;
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: repeat(3,1fr);
}
.card-data-cost, .card-data-class {
    margin-left: 0 !important;
}
.card-data-class, .card-data-rarity {
    width: 120px !important;
}
.card-flavor {
    font-style: italic;
}
.card-keyword {
    display: block;
}
.containingDecks {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    min-height: 226px;
}
.card-set-line {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.card-set {
    background-color: #e0dfdfad;
    padding: 10px;
    display: inline-block;
    border-radius: 6px;
}
.moderator {
    color: #17a2b8;
}
#share-area{
    margin-top:20px;
    margin-bottom:20px;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration:none;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}
.card-rulings {
    margin-bottom: 20px;
}
.form-group-report{
    width:100%;
}
figcaption.card-issue {
    text-align: center;
    font-size: 14px;
    color: #7d3e12;
    cursor:pointer;
}
.similar-cards, .other-cards, .alt-cards, .linked-cards {
    text-align: center;
    min-height: 158px;
}
.similar-cards-title, .alt-cards-title,.linked-cards-title, .other-cards-title, .card-rulings-title, #tcgplayer-prices-title, .containingDecks-title, .containingDecks-subtitle {
    text-align: center;
}
.similar-cards img, .other-cards img, .alt-cards img, .linked-cards img {
    width: 100%;
    max-width: 110px;
    margin: 5px;
    border-radius: 5px;
    transition: all .2s ease;
    min-width: 110px;
    min-height: 158px;
    cursor: pointer;
    max-height: 166px;
    object-fit: contain;
}
.similar-cards img:hover, .other-cards img:hover, .alt-cards img:hover, .linked-cards img:hover {
    transform: scale(1.1);
}
.color-icon{
    color: white;
    border-radius: 6px;
    padding: 5px;
}
.card-artist {
    text-align: right;
    font-style: italic;
    font-size: 15px;
    margin-top: 10px;
}
.cost-row {
    margin-left: 10px;
    margin-right: 10px;
}
.card-attribute, .card-misc, .card-costs, .card-rarity, .card-set {
    margin-top: 10px;
    margin-bottom: 10px;
}
.dp-text-first-letter {
    font-size: 200%;
}
.dp-text {
    font-weight:bold;
    display: inline-block;
    float: right;
}
.card-image img {
    max-width: 444px;
    width: 100%;
    border-radius: 15px;
    min-height: 456px;
    min-width: 313px;
    height: 100%;
}
.card-source-eff, .card-main-eff {
    margin-top: 10px;
    font-weight: 500;
    color: white;
    border-radius: 6px;
    padding: 10px;
}
.column1 {
    float: left;
    width: 30%;
    padding: 10px;
}
.column2 {
    float: left;
    width: 70%;
    padding: 10px;
}
.card-area:after {
    content: "";
    display: table;
    clear: both;
}
.card-area {
    margin-top: 30px;
    margin-bottom: 10px;
    min-height: 480px;
}
mark{
    background-color: #ffdba7;
}
.mark, mark {
    padding: .1em;
}
main.flex-shrink-0 {
    padding-bottom: 15px;
}
.item-img {
    float: left;
    padding-right: 20px;
    max-width: 240px;
    min-width: 240px;
    text-align: center;
}
.item-img img {
    max-width: 140px;
    width: 140px;
    object-fit: contain;
}
.item-misc {
    padding-bottom: 5px;
    display: block;
}
.item-desc p {
    overflow: hidden;
}
input#filter-dq {
    margin-bottom: 15px;
}
@media screen and (min-width: 771px) {
    .zoom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
    }

    .zoom:hover,
    .zoom:active,
    .zoom:focus {
        /**adjust scale to desired size, 
        add browser prefixes**/
        -ms-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -o-transform: scale(1.4);
        transform: scale(1.4);
        position:relative;
        z-index:100;
    }
}
@media screen and (max-width: 1200px) {
    .card-data-info {grid-template-columns: repeat(2,1fr);}
    .item-img, .item-name {
        float:none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .column1, .column2 {
        width: 100%;
    }
    .card-image img { max-width: 265px;}
    .card-image{text-align:center;}
    .deck{ height: 150px; width: 150px;}
}

[data-bs-theme="dark"] hr { border-color: rgba(255, 255, 255, 0.1); }
.card-sets-and-chart {
    gap: 48px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-sets-container {
    gap: 16px;
    min-width: 0;
}
.tcgplayer, .cardmarket { min-width: 0; }
.sets-wrapper-horizontal { max-width: 400px; }
@media screen and (max-width: 991px) {
    .sets-wrapper-horizontal { max-width: 100%; }
}